@import url("https://fonts.googleapis.com/css?family=Lato");

$primaryColor: #79b1ff;
$errorColor: #aa0000;
$errorBackgroundColor: #ffeeee;
$mutedColor: #6c757d;
$disabledBackgroundColor: #aaaaaa;
$flashCellColor: #ffffff;
$flashCellEvenColor: #f3f3f3;
$whiteColor: #ffffff;
$blackColor: #000000;
$navbarColor: #444444;

* {
  font-family: "Lato";
}

html, body {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $whiteColor;
  opacity: 0;
  filter: alpha(opacity=0);
  pointer-events: none;
  transition: all 200ms;
  z-index: 99999;
 }

 #overlay.enabled {
  opacity: .5;
  filter: alpha(opacity=50);  
  pointer-events:all;
 }

.error {
  color: $errorColor;
}

.error-message {
  color: $errorColor;
  margin-top: 30px;
  line-height: 20px;
}

.muted {
  color: $mutedColor;
}

.styled-button {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 0 20px 0 rgba(0,0,0,0.19);  
    border: none;
    color: $whiteColor;
    background-color: $primaryColor;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s ease-in;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

.styled-button:hover {
  background-color: $whiteColor;
  color: $primaryColor;
}

.styled-button:disabled
{
  color: $whiteColor !important;
  background-color: $disabledBackgroundColor;
  cursor: initial; 
}

.auth-container .outer {
  display: flex;
  padding-top: 60px;
  height: 100%;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;

  &:focus-within label {
    transform: translate(-14px, 2px) scale(0.7);
    color: $primaryColor;
  }

  .filled {
    transform: translate(-14px, 2px) scale(0.7);
  }

  label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 18px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #bbbbbb;
    font-size: 20px;
    line-height: 1;
    left: 16px;
    padding: 3px;
  }

  input,
  select {
    height: 64px;
    border: none;
    padding: 12px 16px 2px 16px;
    font-size: 20px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    border-bottom: solid 3px #eeeeee;
    transition: all 200ms ease-in;
  }

  input:focus,
  select:focus {
    border-bottom: solid 3px $primaryColor;
  }
}

form.form-error .input-container {
  input, select {
    border-bottom: solid 2px $errorColor;
    background-color: $errorBackgroundColor;
  }

  label {
    color: $errorColor;
  }
}

.unauth-container {
  .sign-in, .image {
    min-height: 100vh;
  }

  .bg-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }

  form {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .input-container {
    margin-bottom: 40px;
  }

  button {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .form-check {
    display: none;
  }

  .not-registered {
    margin-top: 60px;
  }
}

#privacy .bg-image {
  background-size: contain !important;
  background-position: unset !important;
}

.hidden {
  display: none;
}

.bg-light-ex {
  background-color: #eeeeee !important;
}

.simple-link {
  color: #498dee;
  cursor: pointer;
  text-decoration: none;
}

.simple-link:hover {
  text-decoration: underline;
}

.top-bar {  
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: $blackColor;;
  color: $whiteColor;
  position: fixed;
  z-index: 99;

  .top-bar-buttons {
    position: absolute;
    right: 20px;
    top: 12px;

    button {
      display: inline;
      border: solid 2px $whiteColor;
      background-color: $blackColor;
      color: $whiteColor;
      border-radius: 4px;
      padding: 4px 6px 7px 6px;
      font-size: 14px;
      width: 100px;
      transition: all .2s;  
      vertical-align: top;
      font-weight: 600;
    }

    button:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }

    .icon-circle {
      width: 37px;
      height: 37px;
      border: solid 2px $whiteColor;
      border-radius: 37px;
      background-color: $whiteColor;
      display: inline-block;
      transition: all .2s;
      margin-right: 14px;
    }

    span.icon {
      position: relative;
      display: inline-block;
      font-size: 19px;
      vertical-align: top;
      cursor: pointer;
      transition: all .2s;
      color: $blackColor;
      text-align: center;
      width: 35px;
      left: -1px;
      top: 2px;
      transition: all .2s;
    }

    .icon-circle:hover {
      background-color: $primaryColor;
    }

    .icon-circle:hover span.icon {
      color: $whiteColor;
    }
  }
}

.nav-bar {
  position: fixed;
  flex-grow: 0; 
  flex-shrink: 0;
  width: 98px;
  height: 100%;
  flex-basis: 220px; 
  flex: 0 0 220px;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .3);
  background-color: $navbarColor !important;
  color: $whiteColor;
  transition: 0.3s all;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0,0,0,0.75);
  clip-path: inset(0px -12px 0px 0px);
  padding-top: 0;
  padding-bottom: 30px;

  .position-sticky {
    padding-top: 10px !important;
  }

  .nav-link {
    color: $whiteColor;
    position: relative;
    display: inline-block;
    height: 65px;
    width: 65px;
    max-width: 65px;
    min-height: 65px;
    max-height: 65px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 65px;
    padding-top: 8px;
    transition: background-color .5s ease;
    background-color: transparent;  
    border-width: 0;
  
    .icon {
      display: block;
      text-align: center;
      position: relative;
      transition: color .5s ease;  
      font-size: 30px;
      text-align: center;      
    }
  
    .icon-home {
      top: -1px;
      left: 0px;
    }

    .icon-users {
      top: 2px;
      left: -2px;
    }
  
    .icon-network-wired {
      left: -2px;
      top: 0px;
    }
  
    .ml-2 { 
      transition: all .35s;  
    }
  
    &:visited {
      color: $whiteColor;
    }
    
    &:hover {
      color: $primaryColor;    
      xbackground-color: #222222;
    }
  
    &.active, &:active {
      color: $whiteColor;
      background-color: $primaryColor;
      cursor: default;
    }
  }

  .status-donuts {  
    text-align: center;
    position: absolute;
    width: 98px;
    bottom: 55px;
    list-style: none;
    text-align: center;
    padding: 0;  

    .status-donut {    
      color: $whiteColor;
      position: relative;
      display: inline-block;
      height: 65px;
      width: 65px;
      max-width: 65px;
      min-height: 65px;
      max-height: 65px;
      overflow: hidden;
      margin-top: 3px;
      margin-bottom: 10px;
      margin-left: 0;
      border-radius: 65px;
      padding-top: 8px;
      transition: background-color .5s ease;  
      left: -1px;

      &.strobe svg {  
        animation: strobe 500ms ease-in-out infinite;
      }

      .icon {   
        font-size: 27px;
        text-align: center;
        position: relative;
        top: 3px;
      }
    
      .icon-bed {
        left: 2px;
      }
      
      &.donut {
        width: 65px; height: 65px;
        border-radius: 50%;
        background: conic-gradient( $primaryColor 0deg 360deg );
        
        .hole {
          width: 55px; height: 55px;
          border-radius: 50%;
          background: $navbarColor;
          left: 5px;
          top: 5px;
          position: absolute;    
        }  
      }
    }
  }
}

.not-authenticated {
  display: none;
}

.top-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  max-height: 0;
  width: 100%;
  transition: all 500ms ease-in-out;
  background-color:$primaryColor;
  padding: 0;
  color: $whiteColor;
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  z-index: 100;
  opacity: 0;

  &.is-open {        
    max-height: 60px;
    opacity: 1;
  }

  .top-modal-frame,
  .top-modal-content {
    overflow: auto;
    position: relative; 
  }

  .top-modal-frame {
    flex-direction: column;
    overflow: hidden;
    -ms-overflow-y: visible;
    width: 100%;
    padding: 16px 20px 16px 20px;
  }

  .top-modal-buttons {
    position: absolute;
    right: 20px;
    top: 13px;

    .button {
      display: inline;
      border: solid 2px $whiteColor;
      background-color: $whiteColor;
      color: $primaryColor;
      border-radius: 4px;
      padding: 5px 6px 6px 6px;
      font-size: 14px;
      font-weight: 600;
      width: 130px;
      transition: all .2s;
      vertical-align: top;
    }

    .button.is-danger:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }

    .button:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }

    .button:last-child {
      margin-left: .5em;
      border: solid 2px $whiteColor;
      background-color: $primaryColor;
      color: $whiteColor;
    }
  }
}

@keyframes strobe {
  0% {
    color: $primaryColor;
  }  
  50% {
    color: $whiteColor;
  }
  100% {
    color: $primaryColor;
  }  
}

#social-login-buttons {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: $whiteColor;
}

#social-login-buttons #google-login-button div:first-child {
  opacity: 0;
  overflow: hidden;
}

#google-login-button,
#apple-login-button
{
  position: relative;
  margin-top: 40px;
  
}

#google-login-override,
#apple-login-override {
  position: absolute;
  width: 100%;
  background-color: $whiteColor;
  color: #999999 !important;
  top: 0;
  left: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-x: 14px;
  background-position-y: 12px;
}

#apple-login-override {
  pointer-events: all;
  cursor: pointer;
}

#google-login-button:hover > #google-login-override,
#apple-login-button:hover > #apple-login-override
{
  background-color: $primaryColor !important;
  color: $whiteColor !important; 
}

#google-login-override {
  background-image: url("~/public/social/google.png");
}

#apple-login-override {
  background-image: url("~/public/social/apple.png");
}

.or-block { 
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #555555; 
  line-height: 0.1em; 
  margin: 30px 0 60px;
  color: #555555
} 

.or-block span { 
  background: #eeeeee; 
  padding: 0 10px; 
}

.password-reset {
  margin-top: 30px;
}

.sort-icon {
  margin-left: 10px;
  position: relative;
  top: 1px;  
}

.table {
  width: 100%;
  font-size: 14px;  
  position: relative;

  .table-options {
    position: absolute;
    top: -64px;
    right: 0;
    width: 100%;
    text-align: right;
  }

  .table-options .search-terms {
    border: solid 1px #555555;
    border-radius: 5px;
    outline: none;
    width: 20%;
    padding: 5px 35px 5px 10px;
    z-index: 99;
    margin-left: 10px;
  }

  .table-options .search-terms:focus,
  .table-options .search-terms:focus-visible {
  border: solid 1px $primaryColor;
  outline: none;
  }

  table {
    width: 100%;  

    td {
      font-size: 14px;
      padding: 5px 0 5px 10px;
    }

    th {
      div {
        height: 23px;
        overflow: hidden;
        line-break: anywhere;
      }

      span {
        position: relative;
        left: -1px;
        cursor: pointer;
        padding: 5px 0 5px 10px;
      }

      span.icon {        
        padding: 5px 0 5px 0;
      }

      div:hover  {
        color: $primaryColor;
      }
    }
    
    tbody tr:nth-child(even) {
      background-color: #f3f3f3;
    }

    tbody tr {
      cursor: pointer;
    }
  }

  &.is-hoverable table tbody tr:hover {
    background-color: #D7EEFF;
  }

  table tbody tr.selected {
    background-color: #D7EEFF;
  }

  .table-options {
    .context-icon {
      font-size: 18px;
      transition: all .2s;  
      cursor: pointer;
      margin-right: 0px;
      position: relative;
      top: 7px;
    }

    .context-icon:hover {
      color: $primaryColor;
    }

    .search-terms-icon {
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
}

.auth-container {
  height: 100%;

  main {  
    margin-left: 98px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all .2s;
    flex-grow: 1; /* grow wider by any factor */
    flex-shrink: 1; /* grow smaller by any factor */
    flex-basis: auto; /* auto-compute initial width */
    flex: 1 1 auto;
    position: relative;
    height: 100%;
  
    .header {
      padding-top: 30px;
      padding-bottom: 20px;
      font-weight: 700;
      font-size: 27px;
    }
  }
}

.nav.flex-column {
  font-size: 15px;
  font-weight: 600;
}

.property-bar {
  padding: 27px 40px 70px 40px;
  top: 60px;
  overflow-y: auto;
  left: unset !important;
  background-color: #f0f0f0 !important;
  box-shadow: 0 0 12px rgba(0,0,0,0.75);
  clip-path: inset(0px 0px 0px -12px);
  width: 400px !important;
  color: #333333;  
  position: fixed;
  top: 60px;
  right: 0;
  transition: 0.3s all;
  height: 100%;
  
  .collapse-button {
    position: absolute;
    top: 34px;
    right: 40px;
    cursor: pointer;
    z-index: 999;
    transition: .3s;
  }

  &.collapsed {
    right: -400px;
    box-shadow: none;
  }

  .input-container {
    margin: 0 0 10px 0;
 
    label {
      font-size: 20px;      
    }

    &:focus-within label {
      background-color: unset;
      xtransform: translate(-8px, 7px) scale(0.7); 
      
      &.filled {
        xtransform: translate(-8px, 7px) scale(0.7);
      }

      input, select {
        height: 48px;
        padding: 4px 10px 0px 12px;
        font-size: 17px;
      }
    }
  }

  .caption {
    padding: 0;
    font-weight: 600;
    font-size: 27px;
    xposition: absolute;
    xtop: 18px;
    padding-bottom: 20px;
  }

  .buttons {
    margin-top: 30px;
  }

  .styled-button {
    color: $whiteColor;
    background-color: $primaryColor;
    padding: 1em 2.4em;
    width: 100%;
 
    &:hover {
      background-color: $whiteColor;
      color: $primaryColor;
    }

    &.cancel {
      background-color: $whiteColor;
      color: $primaryColor;
      padding: 1em 2.4em;
      width: 100%;
    }

    &.cancel:hover {
      background-color: $primaryColor;
      color: $whiteColor;
    }
  }
}

@keyframes flash {
  10% {
    background-color: $flashCellColor;
  }
  15% {
    background-color: $primaryColor;
  }  
  25% {
    background-color: $flashCellColor;
  } 
  30% {
    background-color: $primaryColor;
  } 
  100% {
    background-color: $flashCellColor;
  } 
}

@keyframes flash-even {
  10% {
    background-color: $flashCellEvenColor;
  }
  15% {
    background-color: $primaryColor;
  }  
  25% {
    background-color: $flashCellEvenColor;
  } 
  30% {
    background-color: $primaryColor;
  } 
  100% {
    background-color: $flashCellEvenColor;
  } 
}

.table table tbody tr.flash-row {
  &:nth-child(odd) {
    animation: flash 1s;
  }
  
  &:nth-child(even) {
    animation: flash-even 1s;
  }
}

.input-container {
  .not-valid input,
  .not-valid select,
  .group-not-valid input,
  .group-not-valid select {
    border-bottom: solid 2px $errorColor !important;
    background-color: $errorBackgroundColor;
  }

  .not-valid label,
  .group-not-valid label {
    color: $errorColor !important;
  }
}

.empty-option {
  color: #bbbbbb;
}

.disabled-link {
  pointer-events: none;
}

@media (min-width: 900px) {
  .col-md-lg-6 {
      flex: 0 0 auto;
      width: 50% !important;
  }
}
